<div class="postcard">
    <div class="tags">
        <div class="tags__item">
            <p>Python</p>
        </div>
        <div class="tags__item">
            <p>Python</p>
        </div>
    </div>
    <h3 class="postcard__title">@Post.Title</h3>
    <p class="postcard__language">@Post.Blurb</p>
    <div class="postcard__link">
        <a href="/posts/@Post.PostId">See more</a>
    </div>
</div>