<div class="postcard" style="@(IsCompact ? "flex: 1 0 30%" : "flex: 1 0 75%")">
    <div class="tags">
        @if (Post.Tags.Any())
        {
            <div class="tags__item">
                @foreach (string tag in Post.Tags)
                {
                    <p>@tag</p>
                }
            </div>
        }
    </div>
    <h3 class="postcard__title">@Post.Title</h3>
    <p class="postcard__blurb">@Post.Blurb</p>
    <div class="postcard__link">
        <a href="/posts/@Post.PostId">See more</a>
    </div>
</div>