<h2 class="title">@PostListTitle</h2>
<div class="postlist">

    @if (_getPostsError)
    {
        <p>A problem occurred.</p>
    }
    else
    {
        @foreach (var post in _posts)
        {
            <CascadingValue Name="IsCompact" Value="@IsCompact">
                <PostCard Post="@post"></PostCard>
            </CascadingValue>
            
        }
    }
</div>
