<h2 class="title">@PostListTitle</h2>
<div class="postlist">

    @if (_getProjectsError)
    {
        <p>A problem occurred.</p>
    }
    else
    {
        @foreach (var project in _projects)
        {
            // This is using a postcard for projects, but this is temp
            // because I don't have enough data for posts right now
            <PostCard Title="@project.Title" Language="@project.Language"></PostCard>
        }
    }
</div>
