.postcard {
    flex: 1 1 25%;
    background: #2c3e50;
    padding: .5rem;
    margin: .5rem;
    color: white;
    border-radius: .5rem;
    box-shadow: 10px 5px 5px #95a5a6;
    transition: 250ms;
    overflow-x: hidden;
}

    .postcard:hover {
        flex-grow: 15;
        background-color: #b32121;
    }
    
    .postcard:hover > * {
        transform: translateX(50px);
    }

    .postcard:hover .postcard__link {
        opacity: 1;
    }

.postcard__link {
    text-align: left;
    opacity: 0;
    transition: 400ms;
}

.postcard__title {
    transition: 200ms;
}

.postcard__language {
    transition: 300ms;
}

.tags {
    display: flex;
    flex-wrap: wrap;
    transition: 150ms;
}

.tags__item {
    background: #c0392b;
    border-radius: .5rem;
    font-size: .7rem;
    margin: .25rem;
    line-height: .25rem;
}
    .tags__item > p {
        margin: .5rem;
    }