.title {
    margin: 1rem;
    padding: 0.5rem;
}

.postlist {
    display: flex;
    flex-wrap: wrap;
    padding: .5rem;
    margin: .5rem;
}

@media (max-width: 800px) {
    .title {
        text-align: center;
    }
    
    .postlist {
        display: block;
        text-align: center;
    }
}
