<div class="postcard">
    <div class="tags">
        <div class="tags__item">
            <p>Python</p>
        </div>
        <div class="tags__item">
            <p>Python</p>
        </div>
    </div>
    <h3>@Title</h3>
    <p>@Language</p>
    <div class="postcard__link">
        <p>See more</p>
    </div>
</div>