<div class="navmenu">
    <div class="navmenu__item">
        <NavLink href="/" ActiveClass="active" Match=NavLinkMatch.All>Home</NavLink>
    </div>
    <DropdownMenu Links="@_postDropdownLinks" Title="Posts"></DropdownMenu>
    <div class="navmenu__item">
        <a href="projects/all/">Projects</a>
    </div>
    <div class="navmenu__item">
        <a href="about/">About Me</a>
    </div>
</div>