<div class="navmenu">
    <div class="navmenu__item">
        <NavLink href="/" ActiveClass="active" Match=NavLinkMatch.All>Home</NavLink>
    </div>
    <div class="navmenu__item">
        <a href="#">All Posts</a>
    </div>
    <div class="navmenu__item">
        <a href="#">Post By Topic</a>
    </div>
    <div class="navmenu__item">
        <a href="#">Projects</a>
    </div>
</div>

@code {
    
}