@inherits LayoutComponentBase

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>FailedAlgorithm Blog</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/styles.css">
        <link href="@Assets["CodeJournal.styles.css"]" rel="stylesheet">
    </head>
<body>
    <SiteTitle />
    <NavMenu />
    @Body
    
    <div class="footer">
        <p>(dot)Journal is a personal blog by Gage Schaffer.</p>
    </div>
    </body>
</html>

