@if (_getPostError)
{
    <h1>An Error Occurred</h1>
}
else 
{
    <div class="post">
        <div class="post__title">
            <h1>@_post.Title</h1> 
        </div>
        <div class="post__blurb">
            <p>@_post.Blurb</p>
        </div>
        <div class="post__body">
            @((MarkupString) ToHtml(_post.Content))
        </div>
    </div>
}