@page "/home"
@page "/"

<PageTitle>Home</PageTitle>

<div class="welcome">
    <h1>Hello, world!</h1>
    <p>This is my personal coding blog/journal/notepad.</p>
    <p>
        Every project that I'm working on that I feel like writing
        about, I'll do so here.
    </p>
</div>

<PostList PostListTitle="Recent Posts"></PostList>
