.welcome {
    text-align: center;
    padding: 2rem;
    margin: 1rem;
}

    .welcome h1 {
        font-size: 4rem;
        margin-bottom: 0;
    }
    
    .welcome h2 {
        margin-bottom: 4rem;
    }


.two-col-section {
    display: flex;
    padding: 1rem;
    margin-top: 4rem;
}

.column {
    flex: 1 1 50%;
    padding: 1rem;
    min-height: 300px;
    margin: 0 3rem 0 3rem;
    background-color: #ecf0f1;
    border-radius: 5px;
}

    .column h2 {
        background-color: #b32121;
        color: white;
        padding: .5rem;
        border-radius: 5px;
        width: 75%;
        margin: auto auto 2rem auto;
    }
    
@media screen and (max-width: 800px) {
    .two-col-section {
        display: block;
    }
    
    .column {
        min-height: 300px;
        margin: 3rem auto;
    }
    
    .column h2 {
        width: 100%;
        padding: 2rem 0;
        margin: auto;
    }
}