@if (_isLoading)
{
    <p>Loading....</p>
}
else
{
    // Handle Errors
    @if (_getProjectError)
    {
        <h1>An Error Occurred</h1>
    }
    else
    {
        <div class="post">
            <div class="post__title">
                <h1>@_project.Title</h1>
            </div>
            <div class="post__blurb">
                <p>@_project.Description</p>
            </div>
        </div>
    }
}