<div class="card">
    <h1>@ProjectSummary.Title</h1>
    <h2>@ProjectSummary.Language</h2>
    <p>@ProjectSummary.Description</p>
    <div class="card__link">
        <a href="/projects/@ProjectSummary.ProjectId">See more</a>
    </div>
</div>