.list {
    text-align: center;
    width: 80%;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}

@media screen and (max-width: 800px) {
    .list {
        width: 100%;
        display: block;
    }
}